{% extends "form_layout.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block head %}
{{ super() }}
{% include "anytime_head.html"%}
<script>
    function send_emails(donor_id, recipient_id){
        if(donor_id == 0 || recipient_id == 0 ){
            alert("You must select a donor and a recipient first.");
            return;
        }
        alert("This is not connected yet. Sorry.")
    }
</script>
{% endblock head %}

{% block fieldset %}
<fieldset>
    <p>{{ input_field(rec.id,"id",type="hidden",default=0)}}</p>
    <div class="w3-row">
        <p class='w3-col w3-half'>{{ input_field(rec.first_name,"first_name",req=True)}}</p>
        <p class='w3-col w3-half'>{{ input_field(rec.last_name,"last_name",req=True)}}</p>
    </div>
    <p>{{ input_field(rec.email,"email",req=True)}}</p>
    <p>{{ input_field(rec.city,"city",req=True)}}</p>
    <p>{{ input_field(rec.zip,"zip",label="Zip Code",req=True)}}</p>
    <p>{{ input_field(rec.neighborhood,"neighborhood",req=True)}}</p>
    <p>{{ select_field('d_or_r',label="Donor or Recipient") }}
            <option value="Recipient" {% if rec.d_or_r == "Recipient" %}selected{% endif %}>Recipient</option>
            <option value="Donor" {% if rec.d_or_r == "Donor" %}selected{% endif %}>Donor</option>
        </select>
    </p>
    <div class="w3-row">
        <p class="w3-small"><em>Height of rider</em></p>
        <p class="w3-col w3-half">
            {{ select_field('bike_size',label="Size", id="bike_size", req=True) }}
                <option value="" selected >Select Size</option>
                <option value="5&#39;0&quot;" {% if rec.bike_size == "5'0\"" %}selected{% endif %}>5&#39;0&quot;</option>
                <option value="5&#39;1&quot;" {% if rec.bike_size == "5'1\"" %}selected{% endif %}>5&#39;1&quot;</option>
                <option value="5&#39;2&quot;" {% if rec.bike_size == "5'2\"" %}selected{% endif %}>5&#39;2&quot;</option>
                <option value="5&#39;3&quot;" {% if rec.bike_size == "5'3\"" %}selected{% endif %}>5&#39;3&quot;</option>
                <option value="5&#39;4&quot;" {% if rec.bike_size == "5'4\"" %}selected{% endif %}>5&#39;4&quot;</option>
                <option value="5&#39;5&quot;" {% if rec.bike_size == "5'5\"" %}selected{% endif %}>5&#39;5&quot;</option>
                <option value="5&#39;6&quot;" {% if rec.bike_size == "5'6\"" %}selected{% endif %}>5&#39;6&quot;</option>
                <option value="5&#39;7&quot;" {% if rec.bike_size == "5'7\"" %}selected{% endif %}>5&#39;7&quot;</option>
                <option value="5&#39;8&quot;" {% if rec.bike_size == "5'8\"" %}selected{% endif %}>5&#39;8&quot;</option>
                <option value="5&#39;9&quot;" {% if rec.bike_size == "5'9\"" %}selected{% endif %}>5&#39;9&quot;</option>
                <option value="5&#39;10&quot;" {% if rec.bike_size == "5'10\"" %}selected{% endif %}>5&#39;10&quot;</option>
                <option value="5&#39;11&quot;" {% if rec.bike_size == "5'11\"" %}selected{% endif %}>5&#39;11&quot;</option>
                <option value="6&#39;0&quot;" {% if rec.bike_size == "6'0\"" %}selected{% endif %}>6&#39;0&quot;</option>
                <option value="6&#39;1&quot;" {% if rec.bike_size == "6'1\"" %}selected{% endif %}>6&#39;1&quot;</option>
                <option value="6&#39;2&quot;" {% if rec.bike_size == "6'2\"" %}selected{% endif %}>6&#39;2&quot;</option>
                <option value="6&#39;3&quot;" {% if rec.bike_size == "6'3\"" %}selected{% endif %}>6&#39;3&quot;</option>
                <option value="6&#39;4&quot;" {% if rec.bike_size == "6'4\"" %}selected{% endif %}>6&#39;4&quot;</option>
                <option value="6&#39;5&quot;" {% if rec.bike_size == "6'5\"" %}selected{% endif %}>6&#39;5&quot;</option>
            </select>
        </p>
        <p class="w3-col w3-half">
            {{ select_field('bike_type',label="Type", id="bike_type", req=True) }}
                <option value="" selected >Select a Type</option>
                <option value="Road Bike" {% if rec.bike_type == "Road Bike" %}selected{% endif %}>Road Bike</option>
                <option value="Mountain Bike" {% if rec.bike_type == "Mountain Bike" %}selected{% endif %}>Mountain Bike</option>
                <option value="Hybrid Bike" {% if rec.bike_type == "Hybrid Bike" %}selected{% endif %}>Hybrid Bike</option>
            </select>
        </p>
    </div>
    <p>{{ label_only('Bike Image')}}
    {% if rec.image_path %}
    <img src="{{ url_for('static',filename=rec.image_path)}}" class="w3-border w3-padding" style="width:100%;max-width:250px" />
    {% else %}
    {{ input_field(rec.image_path, "image_file",label=None,type="file")}}
    {% endif %}
    </p>
    <p>{{ input_field(rec.occupation,"occupation",label="Recipient Occupation")}}</p>
    <p>{{ label_only('Comment')}}</p>
    <p><textarea style="width:100%;" rows="6" name="bike_comment">{{ rec.bike_comment | default('',True)}}</textarea></p>
    <p>{{ input_field(rec.priority,"priority")}}</p>
    <p>{{ label_only('Staff Comment')}}</p>
    <p><textarea style="width:100%;" rows="6" name="staff_comment">{{ rec.staff_comment | default('',True)}}</textarea></p>
    <p style="padding-right:3pt">{{ label_only("Date Created") }}</p>
    <div class="w3-row">
        <p class="w3-col w3-quarter">
            {{ input_field(rec.created,"created",class="DatePickerButton",id="created",label=None)}}
        </p>
        <p class="w3-col l2 m2 s2 ">
            <a href="javascript:addPicker('created','%m/%d/%y')"  class="DatePickerButton">
            <img src="{{ url_for('static', filename='anytime/calendar.png' ) }}" alt="[calendar icon]"/>
            </a>
        </p>
    </div>
    
 </fieldset>
{% endblock fieldset %}
