{% extends "layout.html" %}
{% from "_layout_helpers.html" import list_search_widget %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}
      	<p id="addRecord"><a href="{{ g.editURL }}0/">Add a new record</a>
        &nbsp;&nbsp;{{ list_search_widget('folks',{'First Name':1,'Last Nane':2,'Donor or Recipient':3,'Received Bike':4,},1) }}
        </p>
	{%if recs %}
		<table id="table_list" class="datatable w3-table w3-striped w3-hoverable">
		<tr class="w3-primary-color">
			<th class="w3-hide-small">Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Donor or Recipient</th>
			<th>Received Bike</th>
            <th>Date Added</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" class="w3-hide-small">{{ rec.id }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.first_name }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.last_name }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.donor_or_recipient | title }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.delivery_date }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.date_created | local_date_string }}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
{% endblock %}
