{% extends "bikematch_layout.html" %}
{% block title %}{{ g.title }}{% endblock %}

{% from "_layout_helpers.html" import left_column_spacer, form_column_class %}
{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block head %}
{{ super() }}
<style>
    #main-form, fieldset {
        background-color: rgba(255,255,255,.85);
    }
    
</style>
{% endblock head %}

{% block body %}
    {% if show_form %}
        {% if rendered_html %}
            {% set help = rendered_html %}
        {% else %}
            {%  set help = '<p>Please fill out the form below so we can match you with a bike.</p>' %}
        {% endif %}
    
        {% if help %}
        <div class="w3-container">
            {{ left_column_spacer() }}
            <div class="w3-panel {{ form_column_class() }} w3-secondary-color">
                {{ help|safe }}
            </div>
        </div>
        {% endif %}

        <div class="w3-container">
            {{ left_column_spacer() }}
            <form action="{{ g.contactURL }}" method=post class="entry {{ form_column_class() }}">
                <fieldset>
                    {% if kwargs %}
                    {% set kwargs_data = kwargs | tojson %}
                    <input name="kwargs" type="hidden" value='{{ kwargs_data }}'>
                    {% endif %}
                    <p>{{ input_field(context['name'],"name",req=True)}}</p>
                    <p>{{ input_field(context['email'],"email",label="Email Address",req=True)}}</p>
                    <p>{{ input_field(context['neighborhood'],"neighborhood",label="Your neighborhood")}}</p>
                    <p>{{ label_only("Please briefly describe the bike if you can:")}}
                        <textarea name="description" rows="8" style="width:100%;">{{ context['description'] }}</textarea> 
                     </p>
                    <p>{{ label_only("Any Questions or Comments?:")}}
                        <textarea name="comment" rows="8" style="width:100%;">{{ context['comment'] }}</textarea> 
                     </p>
                     {% include 'contact_quiz.html' %}

                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="w3-btn w3-primary-color w3-round-large" type="submit" value="Send">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Cancel</a></p>
                </fieldset>
            </form>
        </div>

    {% else %}
            <div class="w3-container w3-panel">
                {% if passed_quiz %}
                <p>Thanks for your comments. We'll get back to you soon.</p>
                <p><a href="/">Return to the home page</a></p>
                {% else %}
                <p>Sorry. I can't deliver your message you did not answer the quiz correctly.</p>
                <p><a href="{{ url_for('.contact')}}">Return to the contact page</a></p>
                {% endif %}
            </div>
    {% endif %}
{% endblock body %}
