{% extends "form_layout.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block head %}
{{ super() }}
{% include "anytime_head.html"%}
<script>
    function send_emails(donor_id, recipient_id){
        if(donor_id == 0 || recipient_id == 0 ){
            alert("You must select a donor and a recipient first.");
            return;
        }
        alert("This is not connected yet. Sorry.")
    }
</script>
{% endblock head %}

{% block fieldset %}
<fieldset>
    <p>{{ input_field(rec.id,"id",type="hidden",default=0)}}</p>
    <div class="w3-row">
        <p class='w3-col w3-half'>{{ input_field(rec.first_name,"first_name",req=True)}}</p>
        <p class='w3-col w3-half'>{{ input_field(rec.last_name,"last_name",req=True)}}</p>
    </div>
    <p>{{ input_field(rec.email,"email",req=True)}}</p>
    <p>{{ input_field(rec.phone,"phone",)}}</p>
    <p>{{ input_field(rec.city,"city",req=True)}}</p>
    <p>{{ input_field(rec.zip,"zip",label="Zip Code",req=True)}}</p>
    <p>{{ input_field(rec.neighborhood,"neighborhood",req=True)}}</p>

    {% include '/bike_size_and_type.html' %}

    <p>{{ input_field(rec.occupation,"occupation",label="Recipient Occupation")}}</p>
    <p>{{ label_only('Comment')}}</p>
    <p><textarea style="width:100%;" rows="6" name="request_comment">{{ rec.request_comment | default('',True)}}</textarea></p>
    <p>{{ input_field(rec.priority,"priority")}}</p>
    <p>{{ label_only('Staff Comment')}}</p>
    <p><textarea style="width:100%;" rows="6" name="staff_comment">{{ rec.staff_comment | default('',True)}}</textarea></p>
    <div class="w3-row">
        <div class="w3-col l3 m3 s9">
            {% set creation_date = '' %}
            {% if rec.created %}{% set creation_date = rec.created | short_date_string %}{% endif %}
            
            <p>{{ input_field(creation_date,"created",class="DatePickerButton",id="created",label="Date Created")}}</p>
        </div>
            <p class="w3-col l1 m1 s2"><br>
                <a href="javascript:addPicker('created','%m/%d/%y')"  class="DatePickerButton">
                <img src="{{ url_for('static', filename='anytime/calendar.png' ) }}" alt="[calendar icon]"/>
                </a>
            </p>
        <p class="w3-col w3-half">
            {{ select_field('status',label="Status", id="status") }}
                <option value="Open" {% if rec.status == "Open" %}selected{% endif %}>Open</option>
                <option value="Matched" {% if rec.status == "Matched" %}selected{% endif %}>Matched</option>
                <option value="Hold" {% if rec.status == "Hold" %}selected{% endif %}>Hold</option>
            </select>
        </p>
        
    </div>
    
 </fieldset>
{% endblock fieldset %}
