<button id="hamburger" class="w3-button w3-xlarge  w3-hide-large w3-primary-color w3-secondary-hover-color" style="position:absolute;top:3pt;right:6pt;" onclick="primary_nav_toggle();hide_hamburger();">&#9776;</button>
<div class="menu_space-off" >
    <div class=" w3-row">
        <div class="w3-col l1 m1 w3-hide-small" style="padding-left:57pt;">&nbsp;</div>
        <div class="w3-col l6 m7 w3-hide-small">
            <a id="header_home_image" href="/">
                  <img id="headerlogo" src="{{ url_for('static', filename='images/logo.png') }}" alt="SABA Logo"/>
            </a>
        </div>
        <div class="w3-col s12 w3-hide-medium w3-hide-large" style="">
           <h3 style="line-height:1;padding-left:10pt;"><a id="header_home" href="/" style="text-decoration:none;">
                Sacramento Area Bicycle Advocates
            </a></h3>
        </div>
    </div>
</div>

