    <div class="w3-row">
        <p class="w3-col w3-half">
            {{ input_field(rec.min_pedal_length,'min_pedal_length',label="Min Pedal Len.", req=True) }}
        </p>
        <p class="w3-col w3-half">
            {{ input_field(rec.max_pedal_length,'max_pedal_length',label="Max Pedal Len.", req=True) }}
        </p>
    </div>
    <div class="w3-row">
        <p class="w3-col w3-half">
            {% import "bike_styles_list.html" as bike_styles %} {# the property bike_styes.bike_styles is a list of styles #}
            {{ select_field('bike_type',label="Bicycle Style", id="bike_type", req=True) }}
                <option value="" selected >Select a Type</option>
                {% for style in bike_styles.bike_styles %}
                <option value="{{style}}" {% if rec.bike_type == style %}selected{% endif %}>{{ style | title }}</option>
                {% endfor %}
            </select>
        </p>
    </div>
