{# a simple quiz to deter bots #}
<div id='contact-quiz' class=" w3-panel">
    <p>
        {{ label_only("To prove you are an actual human, <strong>Please answer the following quiz</strong>:")}}
    </p>
    <p>
        If a bicycle has 2 wheels, and a tricycle has 3 wheels, how many wheels does a unicycle have?
    </p>
    <p>
        {{ radio_field("A","quiz_answer",label="A: A Unicycle is a mythical beast")}}<br>
        {{ radio_field("B","quiz_answer",label="B: Four? No, wait!... 6?")}}<br>
        {{ radio_field("C","quiz_answer",label="C: Just one")}}<br>
        {{ radio_field("D","quiz_answer",label="D: Two like a bike, but you only use one")}}<br>
        <em>(Hint: the answer is C)</em>
    </p>
</div>
