    <!-- <div class="w3-row">
        <p class="w3-col">
        <span class="w3-hide-small">Status:</span>
        <select class="w3-select" id="status_select" name="status"
        kind='text' id_prefix='status_filter'field_name='status' onchange="status_search_changed(this)" >
        <option value='open'>Open</option>
        <option value="matched">Matched</option>
        <option value="hold">Hold</option>
        </select>
    </p>
    </div> -->



    <div class="w3-row">
        <span class="w3-hide-small">Find in:</span>
        <select class="w3-select" style="width:auto;" id="status_search_col_select" name="col_select" 
        kind='text' id_prefix='status_search_' onchange="search_changed(this)" >
        <option value="status">Status</option>
    </select>
        &nbsp;&nbsp;<input id="status_search_search_input" name="search_input" type="text"
            class="w3-border deletable" kind='text' id_prefix='status_search_' 
            placeholder="Open, Matched, Hold" onkeyup="search_changed(this)" 
            />
        </p>
    </div>
