{% extends "bikematch_layout.html" %}
{% block title %}{{ g.title }}{% endblock %}

{% block head %}
{{ super() }}
<style>
    #sbk_logo {
        float:right;
        width:40%;
        border:1pt solid #666;
        padding:6pt;
        margin-left:6pt;
    }
    #sbk_logo .sbk_image {
        float:right;
        margin-left:10pt;
    }
    p.sbk_image img {
        width:100pt
    }
    a {
        text-decoration:underline;
    }
    #contain{
        background-image:url('/static/backdrop.jpg');
        background-color:rgb(247, 240, 230)!important;
    }
    #sg-header, #sg-footer, #sg-page-header {
        background-color:rgba(247, 240, 230, .9)!important;
    }
    #sg-body {
        background-color: rgba(255,255,255,.85);
        width:80%;
        margin:auto;
    }
    #record_access {
        text-align:right;
        margin-right:30pt;
        font-size:10pt;
        padding-bottom:6pt;
    }
    #hamburger {display:none;}
    
    @media (max-width:768px){
        #sg-body {
            margin:6pt auto;
            width:100%;
        }
        #sbk_logo {
            float:none;
            width:100%;
            border:1pt solid #666;
            padding:6pt;
        }
        #sbk_logo .sbk_image {
            float:right;
            margin-left:10pt;
        }
        p.sbk_image img {
            width:50pt

        }
    }
    </style>
{% endblock head %}


{% block body %}
<div class="sg-body-text">
    <h1>SABA #BikeMatchSac</h1>
    <div id="sbk_logo">
        <p class="sbk_image"><img src="{{ url_for('static',filename='images/sbk_logo.jpg')}}" /></p>
        <p>
            We are working closely with the <a href="http://sacbikekitchen.org" target="_blank">Sacramento Bicycle Kitchen</a>
            to provide bikes to those who need them.
        </p>
    </div>    
    <p>Bicycles are essential transportation for many who need to get around at any time but especially 
    now during the coronavirus outbreak. This might include traveling to work, running 
    errands.</p>
    <p>Sacramento Area Bicycle Advocates is connecting those who have an extra bicycle to folks in the community
    who need one. Whether you have a bike or need a bike, contact us via the links below, and we will match you.</p>
    

    <h2>How it works:</h2>
    <h3>If you need a bike;</h3>
    <ol>
        <li>The button below will lead to a list of the bikes we currently have available.</li>
        <li>Once you find the bike you'd like, click on the image to reserve the bike.</li>
        <li>During the reservation process you will select the date when you will pick up your bike.<br>
            Currently all hand-offs happen at the Sacramento Bike Kitchen on I Street in Midtown.</li>
        <li>Show up on the date of your hand-off and receive your bike. If you don't have a vehicle to transport
            your bike we will explain how to use the bike racks on the RT buses as well as help with planning your route.</li>
    </ol>
    <p><a class="w3-button w3-primary-color w3-round-medium" href="{{ url_for('bike.gallery')}}">Reserve a Bike</a></p>
    
    <h3>If you have a bike;</h3>
    <p>Fill out the <a class="w3-button w3-primary-color w3-round-medium" href="{{ url_for('bikematch.haveabike')}}">I Have a Bike</a> form and tell us about the bike.</p>
    <p>
        We will contact you to make arrangements to get the bike from you.
    </p>
    <h3>Guidelines</h3>
    <ol>
        <li>Participation in the Bike Match program constitues your agreement to the terms of the
        <a href="/static/saba_bike_match_liability_waiver.pdf">LIABILITY WAIVER</a>.</li>
        <li>Donated bikes should be in "ready to ride" condition. Something that you would ride, at least in a
        pinch.
        <li>For sanitary purposes, clean the bike thoroughly before hand-off 
    (handlebars, gear shifters, seat, etc). For the same reason, all bike exchanges are permanent.</li>
    </ol>
    <p>If you have any questions, please <a href="/contact/">contact us</a>.</p>
</div>
{% endblock body %}