{% extends "form_layout.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block head %}
{{ super() }}
{% include "anytime_head.html"%}

<style>
    .bike-status-header {
        
    }
</style>
{% endblock head %}

{% block fieldset %}
{% if rec.bike_status | lower != "available"%}
<div class="w3-primary-color w3-border w3-center w3-padding w3-large bike-status-header">
    {% if rec.bike_status | lower == "matched"%}
    <p>This bike has been {{ rec.bike_status }} to {{ rec.recipient_full_name |default("",True) }}</p>
    {% elif rec.bike_status | lower == "reserved"%}
    <p>This bike is {{ rec.bike_status }} for {{ rec.reservation_full_name | default("",True)}}</p>
    {% endif %}
</div>
{% endif %}
<fieldset>
    <p>{{ input_field(rec.id,"id",type="hidden",default=0)}}</p>
    <p>{{ input_field(rec.donor_id,"donor_id",type="hidden",default=0)}}</p>
    {% if rec.id %}<p><strong>Bike ID:</strong> {{ rec.id }}</p>{% endif %}
    {% if rec.id %}{% set donor_extras = "readonly" %}{% else %}{% set donor_extras = ""%}{% endif %}
    {% if rec.id %}{% set folks_req = False %}{% else %}{% set folks_req = True %}{% endif %}
    <div class="w3-row">
        <p class='w3-col w3-half'>{{ input_field(rec.donor_first_name,"donor_first_name",req=folks_req,extras=donor_extras)}}</p>
        <p class='w3-col w3-half'>{{ input_field(rec.donor_last_name,"donor_last_name",req=folks_req,extras=donor_extras)}}</p>
    </div>
    <div class="w3-row">
    <p class='w3-col w3-half' >{{ input_field(rec.donor_email,"donor_email",req=folks_req,extras=donor_extras)}}</p>
    <p class='w3-col w3-half' >{{ input_field(rec.donor_phone,'donor_phone',extras=donor_extras,)}}</p>
    </div>
    <div class="w3-row">
    <p>{{ label_only('Description',req=True)}}</p>
    <p><textarea style="width:100%;" rows="6" name="bike_comment" required>{{ rec.bike_comment | default('',True)}}</textarea></p>
    </div>
    
    <div class="w3-row">
        <p class="w3-col w3-third">
            {{ input_field(rec.min_pedal_length,'min_pedal_length',label="Min Pedal Len.", req=True) }}
        </p>
        <p class="w3-col w3-third">
            {{ input_field(rec.max_pedal_length,'max_pedal_length',label="Max Pedal Len.", req=True) }}
        </p>
        <p class="w3-col w3-third">
            {{ input_field(rec.make,'make',label="Make of Bike") }}
        </p>
    </div>
    <div class="w3-row">
        <p class="w3-col w3-half">
            {% import "bike_styles_list.html" as bike_styles %} {# the property bike_styes.bike_styles is a list of styles #}
            {{ select_field('bike_type',label="Bicycle Style", id="bike_type", req=True) }}
                <option value="" selected >Select a Type</option>
                {% for style in bike_styles.bike_styles %}
                <option value="{{style}}" {% if rec.bike_type == style %}selected{% endif %}>{{ style | title }}</option>
                {% endfor %}
            </select>
        </p>
        <p class='w3-col w3-half' >{{ input_field(rec.number_of_gears,'number_of_gears',default="",)}}</p>
    </div>
    
    <p>{{ label_only('Bike Image')}}
    {% if rec.image_path %}
    <img src="{{ url_for('static',filename=rec.image_path)}}" class="w3-border w3-padding" style="width:100%;max-width:250px" />
    {% else %}
    {{ input_field(rec.image_path, "image_file",label=None,type="file")}}
    {% endif %}
    </p>
    <p>{{ label_only('Staff Comment')}}</p>
    <p><textarea style="width:100%;" rows="6" name="staff_comment">{{ rec.staff_comment | default('',True)}}</textarea></p>
    <div class="w3-row">
        <div class="w3-col l3 m3 s9">
            {% set creation_date = '' %}
            {% if rec.created %}{% set creation_date = rec.created | short_date_string %}{% endif %}
            
            <p>{{ input_field(creation_date,"created",class="DatePickerButton",id="created",label="Date Created",req=True)}}</p>
        </div>
        <p class="w3-col l1 m1 s2"><br>
            <a href="javascript:addPicker('created','%m/%d/%y')"  class="DatePickerButton">
            <img src="{{ url_for('static', filename='anytime/calendar.png' ) }}" alt="[calendar icon]"/>
            </a>
        </p>
        <p class='w3-col w3-quarter' >
            {{ input_field(rec.minimum_donation,"minimum_donation",placeholder="0.00",)}}
        </p>
        
    </div>
    
 </fieldset>
{% endblock fieldset %}
