<div class="w3-row w3-card" style="padding:6pt;">
    <p><strong>Filter Bikes</strong></p>
    {% import "bike_styles_list.html" as bike_styles %} {# the property bike_styes.bike_styles is a list of styles #}
    
    <p class="w3-col w3-half">
    <span class="sg-list-search-label">Bike Sizes:&nbsp;&nbsp;</span>
        <select class="w3-select" id="bike_size_select" name="bike_size_select"
            onchange="select_changed()" >
            <option value="" >Any</option>
             {% for option in bike_sizes %}
             <option value='{{option[0]}},{{option[1]}}' {% if selected_size and option[0] in selected_size and option[1] in selected_size %}selected{% endif %}>{{option[2]}}</option>
             {% endfor %}
        </select>
    </p>
    <p class="w3-col w3-half">
        <span class="sg-list-search-label">Bike Style:&nbsp;&nbsp;</span>
        <select class="w3-select" id="bike_style_select" name="bike_style_select"
            onchange="select_changed()" >
            <option value="" >Any</option>
            {% for option in bike_styles.bike_styles %}
            <option value='{{option}}' {% if selected_style == option %}selected{% endif %}>{{ option | title }}</option>
            {% endfor %}
        </select>
    </p>
</div>
<div id="gallery" style="margin-top:20pt;">
{% if bikes %}
    {% for bike in bikes %}
    <div title="Reserve this bike" class ="bike-on-offer" value="{{ bike.id}}" onclick="reserve_bike({{ bike.id }})">
        <div class="gallery-image-contain" >
            <div class="w3-card-2 gallery-card" >
                <div class="image-contain">
                    {% if bike.image_path %}
                    <img src="{{ url_for('static', filename=bike.image_path ) }}" alt="{{bike.bike_type}}" >
                    {% else %}
                    <img src="{{ url_for('static', filename='no_image.png' ) }}" alt="No Image Available" >
                    {% endif %}
                </div>
                <div class="gallery-details">
                    <p><strong>{{ bike.bike_type | title }}</strong></p>
                    <div class="other-info">
                        <p>Make: {{ bike.make | default('?',True) }}</p>
                        <p>Fits: {{ bike.min_height }} to {{ bike.max_height}}</p>
                        <p class="minimum-price">Minimum Donation: ${{ bike.minimum_price  |money }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Sorry, There are no bikes that match your Type and Size.</p>
    <p>Check back in a week or so. We get more bikes all the time.</p>
    {% endif %}
</div>
<p class="clear">&nbsp;</p>