<style>
    .gallery-image-contain{
        width:120pt;
        float:left;
        margin:4pt;
        cursor:pointer;
    }
    .gallery-card {
        text-align:center;
        margin:3pt 0;
        padding-top:2pt;
    }
    .gallery-details {
        margin:2pt 4pt;
    }
    .other-info p{
        font-size:10pt;
        text-align:left !important;
        margin:0;
    }
    /*    Crop the images. */
    .image-contain {
        height:115px; 
        overflow:hidden; /*hide bounds of image */
        margin:0;   /*reset margin of figure tag*/
    }
    .image-contain img {
        display:block; /*remove inline-block spaces*/
        width:100%; /*make image streatch*/
        margin:0;
    }
</style>