{# display a page with the information about the bike #}

{% extends "form_layout.html" %}

{% block head %}
{{super()}}
<style>
    p.main_img {
        margin: 10pt auto;
        width:100%;
        text-align:center;
    }
    .main_img img {
        width:80%;
    }
</style>

{% endblock head%}

{% block body %}
<div id="view_bike">
    <h2>Bike Info</h2>
    <p class="bike_id"><strong>Bike ID:</strong> {{ rec.id }}</p>
    <p><strong>Bike Size:</strong> {{rec.bike_size }}</p>
    <p><strong>Bike Type:</strong> {{rec.bike_type }}</p>
    {% if rec.bike_comment %}<p><strong>Comment:</strong> {{rec.bike_comment }}</p>{% endif %}
    <p>Have a question? <a href="{{ url_for('bike.question')}}{{rec.id}}">Click here...</a></p>
    <p class="main_img"><img src="{{ url_for('static',filename=rec.image_path)}}" alt="bike image" /></p>
</div>

{% endblock body %}