{% extends "form_layout.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block head %}
{{super()}}
<script>
    function check_for_uniqe_email(which){
        var email = $(which).val();
        var id = $('#id').val();
        $.post("{{ url_for('folks.check_for_uniqe_email')}}",{"email":email,"id":id},test_email_check)
    }
    function test_email_check(data){
        // expects 'duplicate' or 'Ok'
        if (data == 'duplicate'){
            alert("That email address is already in use.\nYou may want to edit the existing record instead.")
        }
    }
</script>
<style>
    #match_list,#donation_list {
        padding:6pt;
        margin:6pt 3pt 6pt 0;
    }
    #match_list,#donation_list {
        min-height:90pt;
    }
    .list_head {
        font-weight:800;
        font-size:14pt;
        text-align:center;
        margin:0;
        line-height:1;
    }
    .bike_list {
        font-size:10pt;
    }
    .bike_list p {
        margin:0 0 2pt 0;
        line-height:1.2;
    }
    .bike_list img {
        height:30pt;
        padding:0 3pt 0 0;
        float:left;
    }
    .bike_list hr {
        margin:6pt;
        border-color:#ccc;
    }
    .bike_price {
        clear:left;
    }
</style>
{% endblock head%}

{% block fieldset %}
<fieldset>
    <p>{{ input_field(rec.id,"id",id="id",type="hidden",default=0)}}</p>
    <div class="w3-row">
        <p class='w3-col w3-half'>{{ input_field(rec.first_name,"first_name",req=True,)}}</p>
        <p class='w3-col w3-half'>{{ input_field(rec.last_name,"last_name",req=True,)}}</p>
    </div>
    <div class="w3-row">
        <p class='w3-col w3-half' >{{ input_field(rec.email,"email",req=True,extras='onblur="check_for_uniqe_email(this)"')}}</p>
        <p class='w3-col w3-half' >{{ input_field(rec.phone,'phone',)}}</p>
    </div>
    <div class="w3-row">
        <div class="w3-col w3-half w3-card">
            <div id="match_list">
                <p class="list_head">Bikes Received</p>
                <div class="bike_list">
                {% if matches %}
                {% for bike in matches %}
                    {% if bike.image_path %}
                    <p class="bike_image"><img src="{{ url_for('static', filename=bike.image_path) }}" alt="bike image" /></p>
                    {% endif %}
                    <p>Match Date: <strong>{{ bike.match_date | local_date_string }}</strong></p>
                    <p class="match_comment" id="short_match_comment_{{ bike.id }}">{{bike.bike_comment | truncate(80)}}</p>
                    <p class="bike_price">Amount received: {{ bike.payment_amt | money }} / ({{ bike.price | money }})</p>
                    <hr>
                {% endfor %}
                {% else %}
                <p>No Bikes Received</p>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="w3-col w3-half w3-card">
            <div id="donation_list">
                <p class="list_head">Bikes Donated</p>
                <div class="bike_list">
                {% if donations %}
                {% for bike in donations %}
                    {% if bike.image_path %}
                    <p class="bike_image"><img src="{{ url_for('static', filename=bike.image_path) }}" alt="bike image" /></p>
                    {% endif %}
                    <p>Donation Date: <strong>{{ bike.created | local_date_string }}</strong></p>
                    <p class="match_comment" id="short_match_comment_{{ bike.id }}">{{bike.bike_comment | truncate(80)}}</p>
                    <p class="bike_price">Est. Value: {{ bike.price | money }}</p>
                    <hr>
                {% endfor %}
                {% else %}
                <p>No Bikes Donated</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
 </fieldset>
{% endblock fieldset %}
