<div class="w3-panel w3-card-2 w3-secondary-color">
    <div class="w3-row">
        <h2 class="w3-col">
            <img src="{{ url_for('static',filename='images/bicycle.png')}}" />
            {{ g.title | default("Title Goes Here",True)}}
        </h2>
        <!-- <p class="w3-col w3-twothird w3-large"><strong><span class="w3-text-red ">IMPORTANT:</span></strong> If you have a fever or cough, or have been exposed to someone who has a fever or cough,
            please self-quarantine and refrain from participating.
        </p> -->
    </div>
</div>
            
