{% extends "layout.html" %}
{% from "_layout_helpers.html" import list_search_widget %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}
      	<p id="addRecord"><a href="{{ g.editURL }}0/">Add a new record</a>
        &nbsp;&nbsp;{{ list_search_widget('bike',{'Serial No.':3,'Donor Nane':4,'Recipient Name':5},3) }}
        </p>
	{%if recs %}
		<table id="table_list" class="datatable w3-table w3-striped w3-hoverable">
		<tr class="w3-primary-color">
			<th class="w3-hide-small">Id</th>
			<th>Donation Date</th>
			<th>Desc.</th>
			<th>Serial Number</th>
			<th>Donor</th>
            <th>Recipient</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" class="w3-hide-small">{{ rec.id }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.donation_date }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.bike_description | truncate(24) }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.serial_number }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.donor_name }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.recipient_name }}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
{% endblock %}
