{% extends "layout.html" %}
{% block title %}{{ g.title }}{% endblock %}

{% from "_layout_helpers.html" import left_column_spacer, form_column_class %}
{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% macro cancel_button() %}
    <a  class="w3-btn w3-ripple w3-cancel-button-color w3-mobile w3-round-large" href="{% if g.cancelURL %}{{g.cancelURL}}{% else %}{{ g.listURL }}{% endif %}" >Return to List</a>
{% endmacro %}

{% block head %}
{{super()}}

{% include "anytime_head.html"%}
{% include 'gallery_head_style.html' %}
<script>

 $(document).ready(function(){
     set_up_datepicker();
     
 })
 
     function set_up_datepicker(){
        var date_format = "%c/%e/%y %l:%i%p"; // "3/4/19 06:00AM"
        var pickers = ["#reservation_date"]
        for( i = 0;i<pickers.length;i++){
         /* 
             you must remove the pickers before dismissing the dialog
             else they will not be reattached the next time the dialog opens
         */
         $(pickers[i]).AnyTime_noPicker().AnyTime_picker({ format: date_format } );                
        }

     }
 
    function match_bike(){
        $('#match_this_bike').val('true'); // set the hidden input
        $('#main-form').submit();
    }
    
    function un_match_bike(){
        if (confirm("Are you sure you want to un-match this bike?")){
            $('#un_match_this_bike').val('true'); // set the hidden input
            $('#main-form').submit();
        }
    }
    
    function select_changed(){
        var selected_style = $("#bike_style_select").val()
        var selected_size = $("#bike_size_select").val()
        $('#gallery-contain').load("{{ url_for('bike.gallery')}}",{"selected_style":selected_style,"selected_size":selected_size},set_controls_for_gallery);
    }
    
    function reserve_bike(selected_bike_id){
        // set the bike_id value, change the form action
        //.  and then post it
        if (selected_bike_id != undefined){
            $("#bike_id").val(selected_bike_id)
        }
        $("#main-form").attr('action','/reservation/swap_bike/').submit()
    }
    
    function show_gallery(){
        // after loading the gallery, change the click action for the bike
        //$('#gallery-contain').load('{{ url_for('bike.gallery')}}',function(){$('.bike-on-offer').off('click').click(function(){swap_bike($(this).attr('value'));})});
        $('#gallery-contain').load('{{ url_for('bike.gallery')}}');
        set_controls_for_gallery();
    }
    
    function set_controls_for_gallery(){
        $('#gallery-contain').show();
        $('#gallery-header').show();
        $('.main-form-buttons').hide();
    }
    
    function hide_gallery(){
        $('#gallery-header').hide();
        $('#gallery-contain').hide();
        $('.main-form-buttons').show();
        
    }
</script>

{% endblock head %}

{% block body %}
<div class="w3-container">
    {{ left_column_spacer() }}
    <form id="main-form" action="{{ g.editURL }}" method=post class="entry {{ form_column_class() }}" enctype="multipart/form-data">
<fieldset>
    <p>{{ input_field(data.rec.id,"id",id="id",type="hidden",default=0)}}</p>
    <p>{{ input_field(data.rec.bike_id,"bike_id",id="bike_id",type="hidden",default=0)}}</p>
    {# set value of 'match_this_bike to True and submit form make a match#}
    <p>{{ input_field(match_this_bike,"match_this_bike",id="match_this_bike",type="hidden")}}</p>
    {# set value of 'match_this_bike to True and submit form to un-make a match#}
    <p>{{ input_field(un_match_this_bike,"un_match_this_bike",id="un_match_this_bike",type="hidden")}}</p>
    <div class="w3-row">
        <p class='w3-col w3-half'>{{ input_field(data.rec.first_name,"first_name",req=True,)}}</p>
        <p class='w3-col w3-half'>{{ input_field(data.rec.last_name,"last_name",req=True,)}}</p>
    </div>
    <div class="w3-row">
        <p class='w3-col w3-half' >{{ input_field(data.rec.email,"email",req=True)}}</p>
        <p class='w3-col w3-half' >{{ input_field(data.rec.phone,'phone',)}}</p>
    </div>
    <div class="w3-row">
        <div class="w3-col w3-third">
            {% set reservation_date = '' %}
            {% if data.rec.reservation_date %}{% set reservation_date = data.rec.reservation_date | local_date_and_time_string %}{% endif %}
            
            <p>{{ input_field(reservation_date,"reservation_date",class="DatePickerButton",id="reservation_date",label="Reservation Date",req=True)}}</p>
        </div>
    </div>
    <div class="w3-row">
        <p class='w3-col'>{{ label_only("Recipient's Request")}}</p>
        <p class='w3-col' ><textarea rows=5 name="reservation_comment" disabled style="width:100%">{{ data.rec.reservation_comment | default('',True)}}</textarea></p>
    </div>
    
    {% if data.bike %}
    <h4 class="bike-info-head">Bike Reserved</h4>
    <p>Bike ID: <strong>{{ data.rec.bike_id }}</strong></p>
        {% include "bike_data_block.html" %}
        
    <div class="w3-row main-form-buttons">
        <h4 class="bike-info-head" >Make a Match</h4>
        {% if data.rec.payment %}{% set payment = data.rec.payment | money %}{% else %}{% set payment = ''%}{% endif %}
        <p class='w3-col w3-half' >{{ input_field(payment,"payment",placeholder="0.00")}}</p>
         {% if data.rec.price %}
             {% if data.rec.price_is_fixed %}
             <p class='w3-col w3-half' ><strong>(Fixed Price: ${{ data.rec.price | money }})</strong></p>
             {% else %}
             <p class='w3-col w3-half' ><strong>(Suggested Donation: ${{ data.rec.price | money }})</strong></p>
             {% endif %}
         {% endif %}
    </div>
    <div class="w3-row main-form-buttons">
        {% if not data.rec.match_id %}
            <p class="w3-col" >
                <a class="w3-btn w3-ripple w3-save-button-color w3-mobile w3-round-large w3-shadow" onclick="match_bike()" >Match Bike</a>
                &nbsp;
                <a class="w3-btn w3-ripple w3-save-button-color w3-mobile w3-round-large w3-shadow" onclick="show_gallery()" >Pick a different Bike</a>
            </p> 
        {% else %}
        {# bike is already matched, you can un-match it here #}
             <p class="w3-col" >
            	<a class="w3-btn w3-ripple w3-save-button-color w3-mobile w3-round-large w3-shadow" onclick="un_match_bike()" >Un-Match this Bike</a>
            </p> 
            
        {% endif %} {# not matched #}
    </div>
    {% else %}
    <div class="w3-row main-form-buttons">
        <p class='w3-col w3-half' >
            <a class="w3-btn w3-ripple w3-save-button-color w3-mobile w3-round-large w3-shadow" onclick="show_gallery()" >Pick a Bike</a>
        </p>
    </div>
   {% endif %} {# if bike #}
   
 
<hr>
<p class="w3-row main-form-buttons">
{% if not data.rec.id %}
	<a id="form_cancel_link"  class="w3-btn w3-ripple w3-cancel-button-color w3-mobile w3-round-large" href = "{{g.deleteURL}}" >Cancel</a>
{% else %}
	<input type=submit class="w3-btn w3-ripple w3-save-button-color w3-mobile w3-round-large w3-shadow" value="Return to List" />
{% endif %}
{% if data.rec.id and data.rec.id > 0 and (not no_delete or is_admin) and not g.cancelURL %}
    &nbsp;
	<a id="form_delete_link"  class="w3-btn w3-ripple w3-delete-button-color w3-mobile w3-round-large" href = "{{g.deleteURL}}{{data.rec.id}}/" onclick="return confirmRecordDelete();">Delete this Reservation...</a>
{% endif %}
</p> 
    <div id="gallery-header" class="w3-row" style="display:none;">
        <p class="w3-third bike-info-head">Choose a Bike</p>
        <p class="w3-quarter w3-btn w3-ripple w3-primary-color w3-mobile w3-round-large w3-shadow" onclick="hide_gallery()">Hide Bikes</p>
        <div id="gallery-contain"></div>
    </div>
    
 </fieldset>
    </form>
    
</div>

{% endblock body %}




