{% extends "layout.html" %}
{% block title %}{{ g.title }}{% endblock %}

{% from "_layout_helpers.html" import left_column_spacer, form_column_class %}
{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block head %}
{{ super() }}


{% endblock head %}

{% block body %}

<div class="w3-container">
    {{ left_column_spacer() }}
    <form id="main-form" action="{{ url_for('reservation.reserve') }}" method=post class="entry {{ form_column_class() }}" enctype="multipart/form-data">
        <p>{{ input_field(data.rec.id,"id",id="id",type="hidden",default=0)}}</p>
        <p>{{ input_field(data.bike.id,"bike_id",id="bike_id",type="hidden",default=0)}}</p>
        <p>{{ input_field(data.validate_me,"validate_me",type="hidden",default='')}}</p>
        <input type="hidden" id="match_day_id" name="match_day_id" value="{{ data.match_day.id }}" />
        <h4 class="bike-info-head">The Bike You Are Reserving</h4>
        
        {% include "bike_data_block.html" %}

        <div class="reservation-instructions">
            <p>
                Please provide your contact information. 
            </p>
            <p>
                After you submit this form you will
                receive an email confirmation with your reservation details.
            </p>
        </div>
        <fieldset>
            <div class="w3-row">
                <p class='w3-col' >{{ input_field(data.rec.email,"email",label="Your email address",req=True,extras='onblur="test_email(this)"')}}</p>
            </div>
        {% if data.rec %}
            <div class="w3-row">
                <p class='w3-col w3-half'>{{ input_field(data.rec.first_name,"first_name",req=True,)}}</p>
                <p class='w3-col w3-half'>{{ input_field(data.rec.last_name,"last_name",req=True,)}}</p>
            </div>
            <div class="w3-row">
                <p class='w3-col w3-half' >{{ input_field(data.rec.phone,'phone',)}}</p>
            </div>
            <p class="bike-section-head">Where to Pick Up Your Bike:</p>
            <p>
                Your bike will be ready for pick up at: 
                {{ data.location.location_name }} on <strong>{{ data.match_day.start | abbr_date_string }}</strong>
            </p>
            <div class="w3-row">
                <p class="w3-col w3-third bike-section-head">Select an open time slot:</p>
                <p class="w3-col w3-quarter">
                    {{ select_field("reservation_date",label=None,id="time_slot")}}
                    <option value="">Select a slot</option>
                    {% for slot in data.time_slots %}
                    <option value="{{slot['slot_date']}}" {% if slot['slot_date'] == data.rec.reservation_date %}selected{% elif not slot['open'] %}disabled{%endif%}>{{ slot['slot_date'] | local_time_string }}</option>
                    {% endfor %}
                    </select>
                </p>
            </div>
         {% endif %} {# if rec #}
         
        <p class="form_button_row w3-contain w3-panel" >
        	<a class="w3-btn w3-ripple w3-save-button-color w3-mobile w3-round-large w3-shadow" onclick="$('#main-form').submit()">Reserve This Bike</a>&nbsp;&nbsp;
            <a  class="w3-btn w3-ripple w3-cancel-button-color w3-mobile w3-round-large" href="{% if g.cancelURL %}{{g.cancelURL}}{% else %}{{ url_for('bikematch.home') }}{% endif %}" >Cancel</a>
        </p> 
		
    
         </fieldset>
     </form>
</div>

<script>
    function test_email(which){
        // test if the email address is already used to reserve a bike
         $.post("{{ url_for('reservation.email_check')}}",{"email_address":which.value},email_check_result)
    }
    function email_check_result(data){
        if (data == "ok"){
            // do nothing
        } else if (data == "duplicate") {
            alert("You already have a bike reserved. You can only have one reservation at a time.\rIf you want to reserve more than one, say for your children, please use the 'contact us' link and we will be able to help you.")
            window.location = '{{ url_for('bikematch.home')}}'
        }
    }
</script>
{% endblock body %}

